<template lang="pug">
#Memorisation 
  section
    .container.read-size
      h2.title #[strong(style="color: #00c090;") Memorisation], #[strong(style="color: #00c090;") ANKI]
      .textBox
      h3 intro to memory techniques
      p Our brains are not designed to remember abstract concepts like word sound combinations or numbers. In #[strong(style='color: #00c090') modern ] days we do so much with our brains that it was not designed for that many people don't realise how good their brains actually are at certain tasks. 
      p For example walking might seem pretty easy to you. Actually a super complex process of muscle coordination, that scientist strugle to date to make a machine do. We are excelent at remembering faces, patterns, locations, images, stories. However, evolution takes place over hundreds of thousands of years and even though our cultures have change a lot our brains remain essentially the same as they were 50 thousand years ago.
      h3 Spaced repetition
      img(src='../../../assets/forgetcurve.jpg')
      p Our brains do not remember stuff for ever. In fact, your brain is actively trying to forget as much stuff as possible and only remember that which is most important. The brain has certain ways of differentiating important things from not important, however, that is hard to controll. If the brain deems a piece of knowledge unimportant, then it will over time naturally degrade. This gives rise to the foretting curve. Which essentially tells you that if you repeat something just before you forget it, its new lifespan will double. 
        
</template>

<script lang="ts">
// import {fire, fireAuth} from '@/firebase/config'
import { useStore } from "vuex";
import { onMounted, ref, provide } from "vue";
import { a, n } from "@/composables/types";
import useCss from "@/composables/useCss";
// import { useRouter, useRoute } from "vue-router";

export default {
  // components: [],
  setup() {
    const ss = useStore().state;
    // const router = useRouter();
    // const sg = useStore().getters;
    ///////////////////////

    ///////////css////////////
    // const { cqueA, cLenEqual } = useCss();
    //......................................
    //

    // onMounted(() => {
    // elements
    // action
    // });
    ////////////////////////
    return {
      ss
    };
  }
};
</script>

<style lang="scss">
@import '../../../assets/uniTheme.scss';
#Memorisation {
section{
  // .container{ max-width: 700px;}
  img{width: 100%;}
}
}
</style>
