<template lang="pug">
#Bookreview 
  section
    .container
      h1 The E Myth
      a(href="https://adomasgaudi.notion.site/The-E-myth-23a8cb6d72224333857d5f982c8100da") Notion review
</template>

<script lang="ts">
// import {fire, fireAuth} from '@/firebase/config'
import { useStore } from "vuex";
import { onMounted, ref, provide } from "vue";
import { a, n } from "@/composables/types";
import useCss from "@/composables/useCss";
// import { useRouter, useRoute } from "vue-router";

export default {
  // components: [],
  setup() {
    const ss = useStore().state;
    // const router = useRouter();
    // const sg = useStore().getters;
    ///////////////////////

    ///////////css////////////
    // const { cqueA, cLenEqual } = useCss();
    //......................................
    //

    // onMounted(() => {
    // elements
    // action
    // });
    ////////////////////////
    return {
      ss
    };
  }
};
</script>

<style lang="scss">
// @import 'xxx../assets/uniTheme.scss'
// #Bookreview {
//section{}
// }
</style>
