<template lang="pug">
#Map
  section
    .container.read-size
      h2 The Big Picture 
      h3 Sacrifice your time to learn faster
      p.AGquote "If I only had an hour to chop down a tree, I would spend the first 45 minutes sharpening my axe."  – Abraham Lincoln.
      p This quote really is the essence of this blog. The reason why I even started this website is because i felt that under the right cicumstances a person could learn a language 5x-10x faster than normal. That potential is why I decided to invest so much time into research about how to learn a language and not actually learning it. 
      p Take a look at my little drawing. The little circle in the middle is the language and all of the different topics inside of it. This is what you want to learn. 
      audio( src = "../assets/Sumbersion1.m4a" controls autoplay)
      img(src="../assets/dia1.jpg" )
      p Traditionaly, language classes are confined to this circle. You only learn about the grammar and the vocab that will actually translate to real language ability later on. That's fine. However, there are many tools and methods that can greatly accelerate your learning, but you do have to spend some time understanding and practicing those tools. Unfortunately you might find yourself spending quite some time with these tools and methods and you might realise that you're not actually learning the language itself, but as ask you to trust the process and believe that this will translate to a much greated gain in the future and you will be glad that you did so.
      hr
      FullPicture
      ArticlesLine

</template>

<script lang="ts">
import FullPicture from "@/components/FullPicture.vue";
import ArticlesLine from "@/components/ArticlesLine.vue";
export default {
  components: { FullPicture, ArticlesLine },
  setup() {
    return {};
  }
};
</script>

<style lang="scss">
@import '../assets/uniTheme.scss';
#Map {
  p {
    text-align: left;
  }
}
</style>
