
@import './uniTheme.scss';
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

// 
#Nav,
footer {
  background: $caribean;
  background: $caribGrad;
}
nav {
  background: rgba(0, 0, 0, 0.1);
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//


// fonts
//fira sans bold
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

// for quotes
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

//robot bold
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight:400;
}
img{width: 100%; margin: 2rem 0;}
p{font-size: 1.25rem;}
.AGquote{font-family:'Playfair Display', serif; font-style: italic; margin-top: 2rem; margin-bottom: 2rem;}

h1,
h2 {
  text-align: center;
  font-weight: 900;
  margin-top: 2rem;
  // margin-top: 10rem;
}
h3{
  font-weight:600;
  font-size: 2rem;
  margin-top: 5rem;
}
h1 {
    margin-bottom: 1rem;
}

h4 {
  font-weight: 300;
  font-size: 22px;
}
.h5 {
   // font-family: "Roboto", sans-serif;
  // font-weight: bold;

  // font-size: 1.5em;

  // margin: 2rem 0rem 1rem 0rem;
  // text-shadow: -1px 2px 3px rgba(225, 48, 0, 0.2);
}

.p-long{
  font-size: 18px;
  line-height: 32px;
}
.p-info-text{
  font-size: 12px;
  font-style:italic;
  font-weight: 500;
  color: rgb(137, 147, 181);
}

@media (min-width: 678px){
  h1{
    font-size: 70px;
    // margin-bottom: 2rem;
  }
}

//
//
//
//
//
//
//
//
//
//

body.lightTheme {
  color: $dark;
  background: $light;
  .shadowAG{
      box-shadow: $shadowGrey;
  }
  .color-grad{
    background-image: linear-gradient(to bottom, rgba(255, 144, 70, 1), rgba(196, 26, 26, 1));
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.3);
  }
  .bottomSide{
    background: rgb(252, 107, 82);
  }
  
}

body.darkTheme {
  background: $dark;
  color: $bluegray;

  .shadowAG{
    box-shadow: $shadowGlow;
    }
  .color-grad{
    background-image: linear-gradient(to bottom, rgb(0, 189, 126), rgb(0, 113, 165));
    box-shadow: 4px 13px 30px 1px rgba(1, 153, 90, 0.3);
  }
  .bottomSide{
    background: rgb(0, 151, 101);
  }

  h1,
  h2,
  i {
    color: $light-f;
  }
}